ul a {
  position: relative;
  padding-bottom: 4px; /* space for underline */
}

ul a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(224, 82, 182);
  transition: width 0.3s ease;
}

ul a.active::after {
  width: 100%;
}
